shared-icono-notificacion {
  position: absolute;
  right: 0;
  top: 8px;
  margin-right: 10px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.icon > img {
  margin-right: .5rem;
}

.icon > h1 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

.icon > h1 > span {
  font-size: 1.5rem;
  color: #3976c6;
}
