



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="servicios" href="/client/servicios">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar-servicios" href="/client/buscar-servicios">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solicitudes" href="/client/solicitudes">
      <ion-icon aria-hidden="true" name="mail"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/client/cuenta">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
