<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="solicitudes" href="/worker/solicitudes">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calificaciones" href="/worker/calificaciones">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Calificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/worker/cuenta">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
